<h1>Admin::Dashboard#show</h1>
<div class="alert alert-success">
<%= link_to @products, controller: "products"%> products
</div>
<div class="alert alert-success">
  <%= link_to @categories, controller: "products"%> categories
</div>
<div class="alert alert-success">
  <strong><%=@orders%></strong> orders
</div>
